# URL de conexão com o banco de dados (PostgreSQL)
# Substitua os campos em maiúsculo pelos seus dados locais ou de produção
# Exemplo: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Porta onde o servidor da API irá rodar (Exemplo: 3000 ou 3333)
PORT=3333