.titulo_secao {
  text-align: center;
  margin: 50px 0 30px;
  font-size: 2rem;
  font-weight: 700;
  color: #2a2929;
}

.grade_produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 6%;
}

.produto {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.3s;
}

.produto:hover {
  transform: translateY(-5px);
}

.produto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info_produto {
  padding: 12px;
  text-align: center;
}

.info_produto h3 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.info_produto p {
  color: #8b0000;
  font-weight: bold;
  margin-bottom: 10px;
}

.info_produto button {
  background: #8b0000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.info_produto button:hover {
  background: #b30000;
  transform: scale(1.05);
}


