.footer {
  background: #f5f3ee;
  color: #000;
  padding: 40px 10%;
  margin-top: 90px;
  font-family: 'Montserrat', sans-serif;
  height: 300px;
}

.gradeRodape {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.footer h3 {
  margin-bottom: 50px;
  color: #050505;
}

.footer ul {
  list-style: none;
  padding: 3px;
}

.footer ul li {
  margin-bottom: 6px;
}

.footer a {
  color: #030303;
  text-decoration: none;
  transition: 0.3s;
  padding: 3px;
}

.footer a:hover {
  color: black;
 

}

.footer p {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  
}


